<div fxLayout="column" fxLayoutAlign="center center">
  <header>
    <img src="assets/logo.png">
    <h1>citame.click</h1>
  </header>

  <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center">

    <!-- 0: default view -->
    <mat-card fxFlexFill *ngIf="state==0">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>
          <p *ngIf="!error">Identifícate...</p>
          <p *ngIf="error">{{error}}</p>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <mat-list role="list">

          <mat-list-item role="listitem" fxLayoutAlign="center center">
            <button mat-raised-button class="with-icon login-facebook" (click)="loginFacebook()">
              <i class="fa fa-facebook" fxLayoutAlign="center center"></i>
              <span>Facebook</span>
            </button>
          </mat-list-item>

          <mat-list-item role="listitem" fxLayoutAlign="center center">
            <button mat-raised-button class="with-icon" (click)="loginGoogle()">
              <i class="fa fa-google" fxLayoutAlign="center center"></i>
              <span>Google</span>
            </button>
          </mat-list-item>

          <mat-list-item role="listitem" fxLayoutAlign="center center">
            <button mat-raised-button class="with-icon login-email" (click)="state=1">
              <i class="fa fa-paper-plane" fxLayoutAlign="center center"></i>
              <span>Email</span>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <!-- 1: email login -->
    <mat-card fxFlexFill class="login-email" *ngIf="state==1">
      <mat-card-header fxLayoutAlign="start center">
        <button mat-icon-button (click)="state=0">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="loginForm"
              (ngSubmit)="onLoginSubmit(loginForm.value)"
               fxLayout="column"
               fxLayoutGap="2em"
               class="login-form">
             <mat-form-field>
                <input class="login-email-input" matInput placeholder="tu email o teléfono móvil" [formControl]="loginForm.controls['id']">
                <mat-error *ngIf="!loginForm.controls['id'].valid">Debes introducir tu email o número de teléfono válidos</mat-error>
              </mat-form-field>

             <mat-form-field>
                <input class="login-password-input"
                    matInput
                    type="password"
                    placeholder="tu contraseña"
                    [formControl]="loginForm.controls['password']">
                <mat-error *ngIf="!loginForm.controls['password'].valid">no puede estar vacío</mat-error>
              </mat-form-field>
              <div fxLayout="row" fxLayoutAlign="end center">
                <button
                  type="submit"
                  [disabled]="!loginForm.valid"
                  class="login-submit"
                  mat-icon-button><mat-icon>input</mat-icon></button>
              </div>
              <div fxLayout="row" fxLayoutAlign="center bottom">
                <a (click)="remindPassword()" class="reminder-link">No recuerdo mi contraseña</a>
              </div>

              <div fxLayout="row" fxLayoutAlign="center bottom">
                <a (click)="state=2" class="reminder-link">No tengo usuari@</a>
              </div>
        </form>
      </mat-card-content>
    </mat-card>

    <!-- 2: user register -->
    <mat-card fxFlexFill class="login-email" *ngIf="state==2">

        <mat-card-header fxLayoutAlign="start center">
          <button mat-icon-button (click)="state=0">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="registerForm"
                (ngSubmit)="onRegisterSubmit(registerForm.value)"
                 fxLayout="column"
                 fxLayoutGap="2em"
                 class="login-form">
               <mat-form-field>
                  <input class="login-email-input" matInput placeholder="tu email" [formControl]="registerForm.controls['email']">
                  <mat-error *ngIf="!registerForm.controls['email'].valid">Revisa el email</mat-error>
                </mat-form-field>
              <mat-form-field>
                 <input class="login-email-input" matInput placeholder="tu teléfono" [formControl]="registerForm.controls['tfno']">
                 <mat-error *ngIf="!registerForm.controls['tfno'].valid">Revisa el número de teléfono</mat-error>
               </mat-form-field>

               <mat-form-field *ngIf="registerForm.controls['password'].value!='firebase'">
                  <input class="login-password-input" matInput placeholder="elige una contraseña" [formControl]="registerForm.controls['password']">
                  <mat-error *ngIf="!registerForm.controls['password'].valid">Debe tener, al menos, 8 caracteres</mat-error>
                </mat-form-field>
              <mat-form-field>
                 <input class="login-email-input" matInput placeholder="¿Cómo te llamas?" [formControl]="registerForm.controls['nombre']">
                 <mat-error *ngIf="!registerForm.controls['nombre'].valid">revisa el nombre</mat-error>
               </mat-form-field>

               <div fxLayout="row" fxLayoutAlign="end center">
                 <button type="submit" mat-icon-button><mat-icon>send</mat-icon></button>
               </div>
              </form>
        </mat-card-content>
    </mat-card>

  </div>

</div>
