$primary: #FF1744;
$secondary: #ADADAD;
$none: white;
$light: #e0e0e0;
$blue: #00f;
$dark: #333;

$font-primary: "Open Sans";

$size-xs: 10px;
$size-s: 12px;
$size-l: 14px;
$size-xl: 2*16px;

$icon-small-container-size: 28px;
$icon-small-size: 14px;
