@import "../../../_variables.scss";

.toolbar-date-title::first-letter{
  text-transform: capitalize;
}

.calendar-container{
  min-height: 400px
}
mat-toolbar {
  mat-toolbar-row{
    padding: 0 !important;
  }
}

.calendar-day-full{
  height: 100%;
  background-color: #f44336
}
.calendar-day-free{
  height: 100%;
  background-color: #66bb6a
}
.calendar-day-disabled{
  height: 100%;
  background-color: #bdbdbd
}
