<ng-template #loading>
  <div>
    <mat-spinner></mat-spinner>
    <br>
    Cargando reservas...
  </div>
</ng-template>

<ng-template #dayHourSegmentTemplate let-segment="segment" let-locale="locale">
  <div
    class="cal-hour-segment clickable"
    [ngClass]="segment.cssClass"
    (click)= "hourClicked(segment.date)">
    <div [hidden]="!segment.isStart" class="cal-time">
      {{ segment.date | date:'H' }}
    </div>
  </div>
</ng-template>

<ng-template #weekEventTemplate let-weekEvent="weekEvent" let-locale="locale">
  <div class="cal-event"
  [style.backgroundColor]="weekEvent.event.color.secondary"
  [style.borderColor]="weekEvent.event.color.primary"
  (click)="eventClicked(weekEvent)">
    {{weekEvent.event.start|date:'HH:mm'}} {{weekEvent.event.title}}
  </div>
</ng-template>

<ng-template
  #dayEventTemplate
  let-dayEvent="dayEvent"
  let-tooltipPlacement="tooltipPlacement"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="tooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody">
  <div
    *ngIf="dayEvent.event.meta.id"
    class="cal-event"
    [style.backgroundColor]="dayEvent.event.color.secondary"
    [style.borderColor]="dayEvent.event.color.primary"
    [mwlCalendarTooltip]="dayEvent.event.title | calendarEventTitle:'dayTooltip':dayEvent.event"
    [tooltipPlacement]="tooltipPlacement"
    [tooltipEvent]="dayEvent.event"
    [tooltipTemplate]="tooltipTemplate"
    [tooltipAppendToBody]="tooltipAppendToBody"
    fxLayout="column">
    <div class="app-event-buttons" *ngIf="dayEvent.event.meta.paciente_id==currentUser?.id">
      <button mat-icon-button (click)="insertIntoGoogleCalendar(dayEvent.event.meta)" title="añadir a google calendar"><i class="fa fa-google material-icons"></i></button>
      <button mat-icon-button (click)="deleteCita(dayEvent.event.meta)"><i class="material-icons" style="font-size: 16px;">delete</i></button>
    </div>
    <span class="app-event-title" fxFlexFill fxLayoutAlign="center center">
      {{dayEvent.event.title}}
    </span>
  </div>
</ng-template>

<ng-template
  #weekHeaderTemplate
  let-days="days"
  let-locale="locale"
  let-dayHeaderClicked="dayHeaderClicked"
  let-eventDropped="eventDropped">
  <div class="cal-day-headers">
    <div
      class="cal-header clickable"
      *ngFor="let day of days; trackBy:trackByWeekDayHeaderDate"
      [class.cal-past]="day.isPast"
      [class.cal-today]="day.isToday"
      [class.cal-future]="day.isFuture"
      [class.cal-weekend]="day.isWeekend"
      [class.cal-drag-over]="day.dragOver"
      [ngClass]="day.cssClass"
      (mwlClick)="dayHeaderClicked.emit({day: day})"
      mwlDroppable
      (dragEnter)="day.dragOver = true"
      (dragLeave)="day.dragOver = false"
      (drop)="day.dragOver = false; eventDropped.emit({event: $event.dropData.event, newStart: day.date})">
      <b fxHide fxShow.gt-sm>{{ day.date | calendarDate:'weekViewColumnHeader':locale }}</b><br>
      <span fxHide fxShow.gt-sm>{{ day.date | calendarDate:'weekViewColumnSubHeader':locale }}</span>
      <b fxHide.gt-sm>{{ day.date | date:'EEEEE':locale }}</b><br>
      <b fxHide.gt-sm>{{ day.date | date:'dd/MM':locale }}</b><br>
    </div>
  </div>
</ng-template>

<ng-template #monthCellTemplate let-day="day" let-locale="locale">
  <div [ngClass]="{
      'calendar-day-disabled': day.isWeekend || day.isPast,
      'calendar-day-full': day.badgeTotal>=dayMaxEvents,
      'calendar-day-free': day.badgeTotal<dayMaxEvents }">
    <div class="cal-cell-top">
      <span class="cal-day-badge" fxHide fxShow.gt-xs *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
  </div>

</ng-template>

<ng-template
  #monthHeaderTemplate
  let-days="days"
  let-locale="locale">
  <div class="cal-cell-row cal-header">
    <div
      class="cal-cell"
      *ngFor="let day of days; trackBy:trackByWeekDayHeaderDate"
      [class.cal-past]="day.isPast"
      [class.cal-today]="day.isToday"
      [class.cal-future]="day.isFuture"
      [class.cal-weekend]="day.isWeekend"
      [ngClass]="day.cssClass">
      <span fxHide fxShow.gt-sm>{{ day.date | calendarDate:'monthViewColumnHeader':locale }}</span>
      <span fxHide.gt-sm>{{ day.date | date:'EEEEE':locale }}</span>
    </div>
  </div>
</ng-template>

<app-topbar></app-topbar>

<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="app-syncing" *ngIf="syncing" fxFlexFill fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
    <div class="calendar-container" *ngIf="events$ | async; else loading; let events">
      <mat-toolbar color="none">

        <mat-toolbar-row>
          <span class="spacer"></span>
          <mat-form-field class="select-view">
            <mat-select [(value)]="view" (change)="selectView(view)">
              <mat-option value="month">Mes</mat-option>
              <mat-option value="week">Semana</mat-option>
              <mat-option value="day">Día</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-toolbar-row>

        <mat-toolbar-row>
          <button
            mat-button
            (click)="today()"
            class="btn-today">
            HOY
          </button>
          <div fxLayout>
            <button
              mat-button
              (click)="previous()"
              class="small btn-previous">
              <i class="fa fa-chevron-left"></i>
            </button>

            <button
              mat-button
              (click)="next()"
              class="small btn-next">
              <i class="fa fa-chevron-right"></i>
            </button>
          </div>


          <span fxHide fxShow.gt-sm class="toolbar-date-title">{{ viewDate | calendarDate:(view + 'ViewTitle'):locale}}</span>

          <span class="spacer"></span>

          <button mat-icon-button (click)="updateState()"><mat-icon>refresh</mat-icon></button>
        </mat-toolbar-row>
        <mat-toolbar-row fxHide.gt-sm *ngIf="view=='day'" class="toolbar-date-title">
          {{ viewDate | calendarDate:(view + 'ViewTitle'):locale}}
        </mat-toolbar-row>
      </mat-toolbar>
        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [excludeDays]="excludeDays"
            [events]="events"
            (dayClicked)="monthDayClicked($event.day)"
            [refresh]="refresh"
            (eventTimesChanged)="eventTimesChanged($event)"
            (eventClicked)="eventClicked($event)"
            [locale]="locale"
            [weekStartsOn]="weekStartsOn"
            [headerTemplate]="monthHeaderTemplate"
            [cellTemplate]="monthCellTemplate">
          </mwl-calendar-month-view>

          <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [excludeDays]="excludeDays"
            [events]="events"
            (dayClicked)="viewDate = $event.date; view = 'day'"
            [refresh]="refresh"
            (eventTimesChanged)="eventTimesChanged($event)"
            (eventClicked)="eventClicked($event)"
            [locale]="locale"
            [weekStartsOn]="weekStartsOn"
            (dayHeaderClicked)="goToDay($event.day.date)"
            [headerTemplate]="weekHeaderTemplate"
            [eventTemplate]="weekEventTemplate">
          </mwl-calendar-week-view>

          <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventTimesChanged)="eventTimesChanged($event)"
            (eventClicked)="eventClicked($event)"
            [locale]="locale"
            [dayStartHour]="9"
            [dayEndHour]="dayEndHour"
            [hourSegmentTemplate]="dayHourSegmentTemplate"
            [eventTemplate]="dayEventTemplate">
          </mwl-calendar-day-view>
        </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
