@import "../../../_variables.scss";

.toolbar-date-title::first-letter{
  text-transform: capitalize;
}

.calendar-container{
  min-height: 400px
}
mat-toolbar {
  mat-toolbar-row{
    padding: 0 !important;
  }
}

.day-full{
  background-color: #f44336
}
.day-free{
  background-color: #66bb6a
}
.day-disabled{
  background-color: #bdbdbd
}
